# Notes on Kaggle python mini-course
https://www.kaggle.com/learn/python

You can use these functions when in doubt:

In [ ]:
something = [1,2,"3"]
help(something) # Help on list object
type(something) # Returns what we are working with, object, list etc.
dir(something) # Returns me everything I can do with that thing. Formally gives me all the attributes and methods of an object.

Switch variables of two objects with a single line:

In [5]:
a = 1
b = 3
a, b = b, a ## This is a tuple
a,b

(3, 1)

Conditional expressions for more succinct code

In [8]:
total_candies = 10
print("candy" if total_candies == 1 else "candies")
total_candies = 1
print("candy" if total_candies == 1 else "candies")

candies
candy

XOR (Exclusive or) snytax in python

In [ ]:
print(False ^ True)
print(False ^ False)
print(True ^ True)

True
False
False

Python can evaluate non-boolean values into boolean:

In [17]:
a, b, c, d = (1,0,True,False)
print(bool(a)) # True
print(bool(b)) # False
print(int(c)) # 1
print(int(d)) # 0

True
False
1
0

Python bool() and int() and usecases with conditional expressions

In [16]:
ketchup = True
mayo = False
mustard = False
'''So you can write a conditional where only one of them has to be true for the conditional to be true as such:'''
print(int(ketchup) + int(mayo) + int(mustard) == 1)
'''OR even better PYTHON automatically turns booleans into integers when you use the + operator'''
print(ketchup + mayo + mustard == 1) ## Same thing as above

True
True

List comprehensions:

In [22]:
squares = [n**2 for n in range(1,11)]
print(squares)
roots = [n**(1/2) for n in squares]
print(roots)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]

Using succinct if condition:

In [24]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
short_planets = [planet for planet in planets if len(planet) < 6]
short_planets

['Venus', 'Earth', 'Mars']

any returns True if any member of the iterable is True

In [25]:
nums = [1,2,10,17,19]
is_any_divisble_by_7 = any([num % 7 == 0 for num in nums])
print(is_any_divisble_by_7)
nums = [1,2,10,17,21]
is_any_divisble_by_7 = any([num % 7 == 0 for num in nums])
print(is_any_divisble_by_7)

False
True

str.format() method:

In [27]:
planet = "Pluto" 
position = 9
"{}, you'll always be the {}th planet to me.".format(planet, position)

"Pluto, you'll always be the 9th planet to me."

str.format can do so much more (see also: https://pyformat.info/):

In [29]:
pluto_mass = 1.303 * 10**22
earth_mass = 5.9722 * 10**24
population = 52910390
#         2 decimal points   3 decimal points, format as percent     separate with commas
print("{} weighs about {:.2} kilograms ({:.3%} of Earth's mass). It is home to {:,} Plutonians.".format(
    planet, pluto_mass, pluto_mass / earth_mass, population,
))

# Referring to format() arguments by index, starting from 0
s = """Pluto's a {0}.
No, it's a {1}.
{0}!
{1}!""".format('planet', 'dwarf planet')
print(s)

Pluto weighs about 1.3e+22 kilograms (0.218% of Earth's mass). It is home to 52,910,390 Plutonians.
Pluto's a planet.
No, it's a dwarf planet.
planet!
dwarf planet!

You can also form dictionaries like the list compression:

In [31]:
planet_to_initial = {planet: planet[0] for planet in planets}
planet_to_initial

{'Mercury': 'M',
 'Venus': 'V',
 'Earth': 'E',
 'Mars': 'M',
 'Jupiter': 'J',
 'Saturn': 'S',
 'Uranus': 'U',
 'Neptune': 'N'}