# Kaggle Pandas mini course

In [189]:
import pandas as pd
import os
from pathlib import Path

# Start in a reasonable base directory
root_dir = Path(os.getcwd()).parents[1]
csv_dir = root_dir / "data/tutorial-data/wine-mag/winemag-data-130k-v2.csv"

The dataset used in this notebook:

kaggle datasets download zynicide/wine-reviews

Pandas work with an object type called DataFrame:

In [2]:
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

The rows of DataFrame is called index

Although they are usually integers 0 to n like normal indexes they can be also labeled to turn DataFrame into a table like format.

Note that DF itself is formed by a dictionary that contains lists as values, while index is an attribute of DF which takes a list in.

In [3]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},)

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [4]:
df_Products = pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

Another object type in pandas is Series. They are in essence a single column of a DataFrame

In [5]:
pd.Series([30, 35, 40])

0    30
1    35
2    40
dtype: int64

But they lack the column names and instead have an overall name= attribute

In [6]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

## CSV
We have seen how to create objects but we will most likely work with existing data which often comes in csv format, comma-seperated-values.

We can load a csv into a DataFrame with pd.read_csv snytax:

In [190]:
csv_dir

PosixPath('/Users/ahmetzihniguven/Documents/GitHub/ai-health-roadmap/data/tutorial-data/wine-mag/winemag-data-130k-v2.csv')

In [ ]:
df = pd.read_csv(csv_dir)

Head function gives the first 5 rows (by default) in the csv, useful for visualization

In [187]:
df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

You can use .shape to get the dimensions of the CSV

In [188]:
print(df.shape) #

(129971, 14)

As you can see from the head() we have an extra column in our csv with indexes.

You can use the index_col= attribute when calling the read_csv to make a specific column as the index column instead of the default index

In [10]:
df = pd.read_csv(csv, index_col=0)
df.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

You write DataFrames into csv files using df.to_csv("filename") syntax. Creates a csv file in the same folder as this notebook

In [11]:
# df_Products.to_csv("Products.csv")

## Accessing Pandas Data Elements
You can use column names like dictionary key, which would return a Series, you can then use indexing to get a specific value:

In [12]:
df["country"]

0            Italy
1         Portugal
2               US
3               US
4               US
            ...
129966     Germany
129967          US
129968      France
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [13]:
df["country"][0]

'Italy'

## Indexing in Pandas
The native indexing methods, are iloc and loc.

They can be accessed like Python lists with slicing methods like [:]

With one caveat: iloc and loc are [row:column] unlike the Python's native [column:row]

iloc uses integer Indexing

In [14]:
df.iloc[0] # Returns the first row

country                                                              Italy
description              Aromas include tropical fruit, broom, brimston...
designation                                                   Vulkà Bianco
points                                                                  87
price                                                                  NaN
province                                                 Sicily & Sardinia
region_1                                                              Etna
region_2                                                               NaN
taster_name                                                  Kerin O’Keefe
taster_twitter_handle                                         @kerinokeefe
title                                    Nicosia 2013 Vulkà Bianco  (Etna)
variety                                                        White Blend
winery                                                             Nicosia
Name: 0, dtype: object

In [15]:
df.iloc[:,0] # I could use slicing to return the 0th column

0            Italy
1         Portugal
2               US
3               US
4               US
            ...
129966     Germany
129967          US
129968      France
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [16]:
df.iloc[1:4,0] # Slicing methods work

1    Portugal
2          US
3          US
Name: country, dtype: object

In [17]:
df.iloc[-5:, 0] # As well as the negative indexing

129966    Germany
129967         US
129968     France
129969     France
129970     France
Name: country, dtype: object

loc on the other hand uses label indexing:

In [18]:
df.loc[0, "country"] # 0th row's, column with the name country

'Italy'

In [19]:
df.loc[:, ["country", "province","variety"]] #I can put in a whole list of columns.

         country           province         variety
0          Italy  Sicily & Sardinia     White Blend
1       Portugal              Douro  Portuguese Red
2             US             Oregon      Pinot Gris
3             US           Michigan        Riesling
4             US             Oregon      Pinot Noir
...          ...                ...             ...
129966   Germany              Mosel        Riesling
129967        US             Oregon      Pinot Noir
129968    France             Alsace  Gewürztraminer
129969    France             Alsace      Pinot Gris
129970    France             Alsace  Gewürztraminer

[129971 rows x 3 columns]

*IMPORTANT:* iloc slicing is like Python native where 0:10 would not return the 10th, but loc is the opposite it would return the 10th row as well.

In [20]:
print(df.iloc[:5,0])
print(df.loc[:5,"country"])

0       Italy
1    Portugal
2          US
3          US
4          US
Name: country, dtype: object
0       Italy
1    Portugal
2          US
3          US
4          US
5       Spain
Name: country, dtype: object

In addition to setting the index column when reading the csv file, you can also use the set_index to set your index afterwards. In short index is mutable

In [21]:
df.set_index("country")

,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
country,,,,,,,,,,,,
Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
...,...,...,...,...,...,...,...,...,...,...,...,...
Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

## Conditional Selections

You can use conditional expressions to filter your data

In [22]:
df.loc[(df.country == "Italy") & (df.points > 90)] # Note you could not use the and syntax instead of & and DO NOT forget the ().

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
120,Italy,"Slightly backward, particularly given the vint...",Bricco Rocche Prapó,92,70.0,Piedmont,Barolo,NaN,NaN,NaN,Ceretto 2003 Bricco Rocche Prapó (Barolo),Nebbiolo,Ceretto
130,Italy,"At the first it was quite muted and subdued, b...",Bricco Rocche Brunate,91,70.0,Piedmont,Barolo,NaN,NaN,NaN,Ceretto 2003 Bricco Rocche Brunate (Barolo),Nebbiolo,Ceretto
133,Italy,"Einaudi's wines have been improving lately, an...",NaN,91,68.0,Piedmont,Barolo,NaN,NaN,NaN,Poderi Luigi Einaudi 2003 Barolo,Nebbiolo,Poderi Luigi Einaudi
135,Italy,The color is just beginning to show signs of b...,Sorano,91,60.0,Piedmont,Barolo,NaN,NaN,NaN,Giacomo Ascheri 2001 Sorano (Barolo),Nebbiolo,Giacomo Ascheri
158,Italy,"Baked plum, Asian spice, vanilla and menthol a...",Bellezza Gran Selezione,91,38.0,Tuscany,Chianti Classico,NaN,Kerin O’Keefe,@kerinokeefe,Castello di Gabbiano 2012 Bellezza Gran Selezi...,Sangiovese,Castello di Gabbiano
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129675,Italy,"Aromas of underbrush, leather, mature berry, g...",Montersino,93,50.0,Piedmont,Barbaresco,NaN,Kerin O’Keefe,@kerinokeefe,Albino Rocca 2013 Montersino (Barbaresco),Nebbiolo,Albino Rocca
129681,Italy,"Ripe black-skinned berry, violet, leather and ...",Tre Stelle,93,60.0,Piedmont,Barbaresco,NaN,Kerin O’Keefe,@kerinokeefe,Cascina delle Rose 2013 Tre Stelle (Barbaresco),Nebbiolo,Cascina delle Rose
129892,Italy,"Classic Sangiovese aromas of red berry, culina...",NaN,91,72.0,Tuscany,Brunello di Montalcino,NaN,Kerin O’Keefe,@kerinokeefe,La Mannella 2012 Brunello di Montalcino,Sangiovese,La Mannella
129893,Italy,"Aromas of passion fruit, hay and a vegetal not...",Corte Menini,91,NaN,Veneto,Soave Classico,NaN,Kerin O’Keefe,@kerinokeefe,Le Mandolare 2015 Corte Menini (Soave Classico),Garganega,Le Mandolare
129929,Italy,"This luminous sparkler has a sweet, fruit-forw...",NaN,91,38.0,Veneto,Prosecco Superiore di Cartizze,NaN,NaN,NaN,Col Vetoraz Spumanti NV Prosecco Superiore di...,Prosecco,Col Vetoraz Spumanti

You can use isin to compare against a list of values:

In [23]:
df.loc[df.country.isin(["Portugal", "France"])]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
7,France,This dry and restrained wine offers spice in p...,NaN,87,24.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Trimbach 2012 Gewurztraminer (Alsace),Gewürztraminer,Trimbach
9,France,This has great depth of flavor with its fresh ...,Les Natures,87,27.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Jean-Baptiste Adam 2012 Les Natures Pinot Gris...,Pinot Gris,Jean-Baptiste Adam
11,France,"This is a dry wine, very spicy, with a tight, ...",NaN,87,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Leon Beyer 2012 Gewurztraminer (Alsace),Gewürztraminer,Leon Beyer
30,France,Red cherry fruit comes laced with light tannin...,Nouveau,86,NaN,Beaujolais,Beaujolais-Villages,NaN,Roger Voss,@vossroger,Domaine de la Madone 2012 Nouveau (Beaujolais...,Gamay,Domaine de la Madone
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129964,France,"Initially quite muted, this wine slowly develo...",Domaine Saint-Rémy Herrenweg,90,NaN,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Ehrhart 2013 Domaine Saint-Rémy Herren...,Gewürztraminer,Domaine Ehrhart
129965,France,"While it's rich, this beautiful dry wine also ...",Seppi Landmann Vallée Noble,90,28.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Rieflé-Landmann 2013 Seppi Landmann Va...,Pinot Gris,Domaine Rieflé-Landmann
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

Another useful method is isnull and its counterpart notnull

You can use isnull to find empty cells and vice versa

In [24]:
df.loc[df.country.isnull()]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
913,NaN,"Amber in color, this wine has aromas of peach ...",Asureti Valley,87,30.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Gotsa Family Wines 2014 Asureti Valley Chinuri,Chinuri,Gotsa Family Wines
3131,NaN,"Soft, fruity and juicy, this is a pleasant, si...",Partager,83,NaN,NaN,NaN,NaN,Roger Voss,@vossroger,Barton & Guestier NV Partager Red,Red Blend,Barton & Guestier
4243,NaN,"Violet-red in color, this semisweet wine has a...",Red Naturally Semi-Sweet,88,18.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Kakhetia Traditional Winemaking 2012 Red Natur...,Ojaleshi,Kakhetia Traditional Winemaking
9509,NaN,This mouthwatering blend starts with a nose of...,Theopetra Malagouzia-Assyrtiko,92,28.0,NaN,NaN,NaN,Susan Kostrzewa,@suskostrzewa,Tsililis 2015 Theopetra Malagouzia-Assyrtiko W...,White Blend,Tsililis
9750,NaN,This orange-style wine has a cloudy yellow-gol...,Orange Nikolaevo Vineyard,89,28.0,NaN,NaN,NaN,Jeff Jenssen,@worldwineguys,Ross-idi 2015 Orange Nikolaevo Vineyard Chardo...,Chardonnay,Ross-idi
...,...,...,...,...,...,...,...,...,...,...,...,...,...
124176,NaN,This Swiss red blend is composed of four varie...,Les Romaines,90,30.0,NaN,NaN,NaN,Jeff Jenssen,@worldwineguys,Les Frères Dutruy 2014 Les Romaines Red,Red Blend,Les Frères Dutruy
129407,NaN,Dry spicy aromas of dusty plum and tomato add ...,Reserve,89,22.0,NaN,NaN,NaN,Michael Schachner,@wineschach,El Capricho 2015 Reserve Cabernet Sauvignon,Cabernet Sauvignon,El Capricho
129408,NaN,El Capricho is one of Uruguay's more consisten...,Reserve,89,22.0,NaN,NaN,NaN,Michael Schachner,@wineschach,El Capricho 2015 Reserve Tempranillo,Tempranillo,El Capricho
129590,NaN,"A blend of 60% Syrah, 30% Cabernet Sauvignon a...",Shah,90,30.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Büyülübağ 2012 Shah Red,Red Blend,Büyülübağ
129900,NaN,This wine offers a delightful bouquet of black...,NaN,91,32.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Psagot 2014 Merlot,Merlot,Psagot

## Functions for Describing Data and Maps

Pandas has some useful functions that show the statistical parameters of data:

In [25]:
df.describe()

              points          price
count  129971.000000  120975.000000
mean       88.447138      35.363389
std         3.039730      41.022218
min        80.000000       4.000000
25%        86.000000      17.000000
50%        88.000000      25.000000
75%        91.000000      42.000000
max       100.000000    3300.000000

As you can see above it automatically returns the colums with only numerical values

If you call it on String column it also returns some parameters

In [26]:
df.taster_name.describe()

count         103727
unique            19
top       Roger Voss
freq           25514
Name: taster_name, dtype: object

We could also ask for specific statistical parameters like mean:

In [27]:
df.points.mean()

np.float64(88.44713820775404)

Or get the number of unique data points:

In [28]:
df.taster_name.unique()

array(['Kerin O’Keefe', 'Roger Voss', 'Paul Gregutt',
       'Alexander Peartree', 'Michael Schachner', 'Anna Lee C. Iijima',
       'Virginie Boone', 'Matt Kettmann', nan, 'Sean P. Sullivan',
       'Jim Gordon', 'Joe Czerwinski', 'Anne Krebiehl\xa0MW',
       'Lauren Buzzeo', 'Mike DeSimone', 'Jeff Jenssen',
       'Susan Kostrzewa', 'Carrie Dykes', 'Fiona Adams',
       'Christina Pickard'], dtype=object)

A more complete method also shows the number of times they occur:

In [29]:
df.taster_name.value_counts()

taster_name
Roger Voss            25514
Michael Schachner     15134
Kerin O’Keefe         10776
Virginie Boone         9537
Paul Gregutt           9532
Matt Kettmann          6332
Joe Czerwinski         5147
Sean P. Sullivan       4966
Anna Lee C. Iijima     4415
Jim Gordon             4177
Anne Krebiehl MW       3685
Lauren Buzzeo          1835
Susan Kostrzewa        1085
Mike DeSimone           514
Jeff Jenssen            491
Alexander Peartree      415
Carrie Dykes            139
Fiona Adams              27
Christina Pickard         6
Name: count, dtype: int64

### Maps
A mathematical term borrowed into CS, maps are functions that when applied to some set of values, transfrom them into another set of values. An example is more illuminating:

In [30]:
df_points_mean = df.points.mean()
df.points.map(lambda p: p - df_points_mean)

0        -1.447138
1        -1.447138
2        -1.447138
3        -1.447138
4        -1.447138
            ...
129966    1.552862
129967    1.552862
129968    1.552862
129969    1.552862
129970    1.552862
Name: points, Length: 129971, dtype: float64

In the above example, we took the mean of points, then removed this mean from each row of points column. Redefining our mean around 0.

The map() function expects Series and returns a new Series. 

A more complete function is called apply() which can apply a custom function to the whole DataFrame

In [31]:
def remean_points(row):
    row.points = row.points - df_points_mean
    return row
df.apply(remean_points, axis="columns")

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,-1.447138,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,-1.447138,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,-1.447138,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,-1.447138,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,-1.447138,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,1.552862,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,US,Citation is given as much as a decade of bottl...,NaN,1.552862,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,1.552862,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,1.552862,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,1.552862,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

It returned a DataFrame unlike the map().

If we uesd the axis="index" the function would be applied to the columns instead.

We can also use simple operators to do a similar thing:

In [32]:
df.points - df_points_mean

0        -1.447138
1        -1.447138
2        -1.447138
3        -1.447138
4        -1.447138
            ...
129966    1.552862
129967    1.552862
129968    1.552862
129969    1.552862
129970    1.552862
Name: points, Length: 129971, dtype: float64

This is faster than apply or map because:

- Panda columns are backed by NumPy arrays which support C-level functions that do vectorized computation.
- Where as apply and map are Python level functions that loop over each item.

Here is another exercise that uses apply:

We'd like to host these wine reviews on our website, but a rating system ranging from 80 to 100 points is too hard to understand - we'd like to translate them into simple star ratings. A score of 95 or higher counts as 3 stars, a score of at least 85 but less than 95 is 2 stars. Any other score is 1 star

Also, the Canadian Vintners Association bought a lot of ads on the site, so any wines from Canada should automatically get 3 stars, regardless of points.

Create a series `star_ratings` with the number of stars corresponding to each review in the dataset.

In [33]:
def stars(row):
    if row.country == 'Canada':
        return 3
    elif row.points >= 95:
        return 3
    elif row.points >= 85:
        return 2
    else:
        return 1
    
star_ratings = df.apply(stars, axis='columns')
star_ratings

0         2
1         2
2         2
3         2
4         2
         ..
129966    2
129967    2
129968    2
129969    2
129970    2
Length: 129971, dtype: int64

You can use idxmax() method to get the index of the row which has the maximum value in that column:

In [34]:
index = df.price.idxmax()
df.loc[index, ["title", "price"]]

title    Château les Ormes Sorbet 2013  Médoc
price                                  3300.0
Name: 80290, dtype: object

Let's check how many times fruity or tropical is used in description:

In [35]:
n_trop = df.description.map(lambda desc: "tropical" in desc).sum()
n_fruity = df.description.map(lambda desc: "fruity" in desc).sum()
descriptor_counts = pd.Series([n_trop, n_fruity], index=['tropical', 'fruity'])
descriptor_counts

tropical    3607
fruity      9090
dtype: int64

As you can see you can use sum to do the same thing as this would:

In [36]:
tropical_count = df.description.map(lambda p: "tropical" in p).value_counts().loc[True,]
tropical_count, n_trop

(np.int64(3607), np.int64(3607))

## Grouping and Sorting

We can group the data by a single column by groupby(column)

In [37]:
df.groupby("points")

This creates an object which groups the data by the points column. We can then use methods on it:

In [38]:
df.groupby("points").points.count()

points
80       397
81       692
82      1836
83      3025
84      6480
85      9530
86     12600
87     16933
88     17207
89     12226
90     15410
91     11359
92      9613
93      6489
94      3758
95      1535
96       523
97       229
98        77
99        33
100       19
Name: points, dtype: int64

Remember the value_counts()? We got the same result by using this.

If we call the head function on a grouped DataFrame, it returns a row from each group. There are 21 rows below (100-80+1)

In [39]:
df.groupby("points").head(1)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
29,US,Clarksburg is becoming a haven for Chenin Blan...,NaN,86,16.0,California,Clarksburg,Central Valley,Virginie Boone,@vboone,Clarksburg Wine Company 2010 Chenin Blanc (Cla...,Chenin Blanc,Clarksburg Wine Company
51,Chile,This is much different than Casa Silva's 2009 ...,Gran Reserva,85,22.0,Colchagua Valley,NaN,NaN,Michael Schachner,@wineschach,Casa Silva 2008 Gran Reserva Petit Verdot (Col...,Petit Verdot,Casa Silva
89,Italy,"Made primarily from Sangiovese, with some Malv...",NaN,88,19.0,Tuscany,Toscana,NaN,Kerin O’Keefe,@kerinokeefe,Fattoria Sardi 2015 Rosato (Toscana),Rosato,Fattoria Sardi
119,France,Medium-gold in color. Complex and inviting nos...,Schoenenbourg Grand Cru Vendanges Tardives,92,80.0,Alsace,Alsace,NaN,NaN,NaN,Dopff & Irion 2004 Schoenenbourg Grand Cru Ven...,Riesling,Dopff & Irion
125,South Africa,Etienne Le Riche is a total Cabernet specialis...,Cabernet Sauvignon Reserve,91,45.0,Stellenbosch,NaN,NaN,Roger Voss,@vossroger,Le Riche 2003 Cabernet Sauvignon Reserve Caber...,Cabernet Sauvignon,Le Riche
137,South Africa,"This is great Chenin Blanc, wood fermented but...",Hope Marguerite,90,NaN,Walker Bay,NaN,NaN,Roger Voss,@vossroger,Beaumont 2005 Hope Marguerite Chenin Blanc (Wa...,Chenin Blanc,Beaumont
254,US,The winery has a good track record with this b...,NaN,89,45.0,California,St. Helena,Napa,NaN,NaN,David Fulton 2008 Petite Sirah (St. Helena),Petite Sirah,David Fulton
336,Chile,"Gritty, heavily roasted aromas of peanuts and ...",Costa,83,35.0,Colchagua Costa,NaN,NaN,Michael Schachner,@wineschach,Koyle 2015 Costa Pinot Noir (Colchagua Costa),Pinot Noir,Koyle
338,France,The wine is earthy and somewhat rustic. There ...,NaN,82,11.0,Provence,Coteaux Varois en Provence,NaN,Roger Voss,@vossroger,Mémoires 2015 Rosé (Coteaux Varois en Provence),Rosé,Mémoires
343,Chile,"Jumpy on the nose at first, but then green tea...",Grand Reserve,81,20.0,Rapel Valley,NaN,NaN,Michael Schachner,@wineschach,Pura 8 2010 Grand Reserve Pinot Noir (Rapel Va...,Pinot Noir,Pura 8
344,Chile,"Aromas of pumpkin, squash and corn chips are s...",Gran Reserva,80,19.0,Leyda Valley,NaN,NaN,Michael Schachner,@wineschach,Viña Tarapacá 2015 Gran Reserva Chardonnay (Le...,Chardonnay,Viña Tarapacá
345,Australia,This wine contains some material over 100 year...,Rare,100,350.0,Victoria,Rutherglen,NaN,Joe Czerwinski,@JoeCz,Chambers Rosewood Vineyards NV Rare Muscat (Ru...,Muscat,Chambers Rosewood Vineyards
346,Australia,"This deep brown wine smells like a damp, mossy...",Rare,98,350.0,Victoria,Rutherglen,NaN,Joe Czerwinski,@JoeCz,Chambers Rosewood Vineyards NV Rare Muscadelle...,Muscadelle,Chambers Rosewood Vineyards
347,Germany,"Dusty, saffron-spiced earthiness is juxtaposed...",Kiedrich Gräfenberg Trockenbeerenauslese,97,775.0,Rheingau,NaN,NaN,Anna Lee C. Iijima,NaN,Robert Weil 2014 Kiedrich Gräfenberg Trockenbe...,Riesling,Robert Weil
351,Hungary,This amber-colored Hungarian stunner has ether...,Eszencia,96,320.0,Tokaji,NaN,NaN,Jeff Jenssen,@worldwineguys,Oremus 2005 Eszencia (Tokaji),Furmint,Oremus
356,Australia,"Dusty, firm, powerful: just a few apt descript...",Georgia's Paddock,95,85.0,Victoria,Heathcote,NaN,Joe Czerwinski,@JoeCz,Jasper Hill 2013 Georgia's Paddock Shiraz (Hea...,Shiraz,Jasper Hill
539,US,Bright pomegranate and dried strawberry notes ...,Twin Creeks Estate,93,42.0,California,Edna Valley,Central Coast,Matt Kettmann,@mattkettmann,Claiborne & Churchill 2014 Twin Creeks Estate ...,Pinot Noir,Claiborne & Churchill
1065,Portugal,"Ripe and fruity, this is already delicious, bu...",Quinta do Seixo Vintage,94,50.0,Port,NaN,NaN,Roger Voss,@vossroger,Sandeman 2015 Quinta do Seixo Vintage (Port),Port,Sandeman
1122,US,While ebulliently peachy and floral on the nos...,Zero Degree Dry,84,16.0,New York,Seneca Lake,Finger Lakes,Anna Lee C. Iijima,NaN,Three Brothers 2014 Zero Degree Dry Riesling (...,Riesling,Three Brothers
1556,US,The flagship wine from Quilceda Creek offers e...,NaN,99,125.0,Washington,Columbia Valley (WA),Columbia Valley,Paul Gregutt,@paulgwine,Quilceda Creek 2008 Cabernet Sauvignon (Columb...,Cabernet Sauvignon,Quilceda Creek

We can also sort these groups by another column's values:

In [40]:
df.groupby("points").price.min(), df.groupby("points").price.mean()

(points
 80      5.0
 81      5.0
 82      4.0
 83      4.0
 84      4.0
 85      4.0
 86      4.0
 87      5.0
 88      6.0
 89      7.0
 90      8.0
 91      7.0
 92     11.0
 93     12.0
 94     13.0
 95     20.0
 96     20.0
 97     35.0
 98     50.0
 99     44.0
 100    80.0
 Name: price, dtype: float64,
 points
 80      16.372152
 81      17.182353
 82      18.870767
 83      18.237353
 84      19.310215
 85      19.949562
 86      22.133759
 87      24.901884
 88      28.687523
 89      32.169640
 90      36.906622
 91      43.224252
 92      51.037763
 93      63.112216
 94      81.436938
 95     109.235420
 96     159.292531
 97     207.173913
 98     245.492754
 99     284.214286
 100    485.947368
 Name: price, dtype: float64)

We can use the apply on grouped DataFrame. Let's get the highest ranking wine from each country.

In [41]:
df.groupby("country").apply(lambda df: df.loc[df.points.idxmax()].drop(labels="country"))

/var/folders/tv/x2kj4s9n5cq6jvwx5w_mn40c0000gn/T/ipykernel_3487/2613482295.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df.groupby("country").apply(lambda df: df.loc[df.points.idxmax()].drop(labels="country"))

,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
country,,,,,,,,,,,,
Argentina,"If the color doesn't tell the full story, the ...",Nicasia Vineyard,97,120.0,Mendoza Province,Mendoza,NaN,Michael Schachner,@wineschach,Bodega Catena Zapata 2006 Nicasia Vineyard Mal...,Malbec,Bodega Catena Zapata
Armenia,"Deep salmon in color, this wine offers a bouqu...",Estate Bottled,88,15.0,Armenia,NaN,NaN,Mike DeSimone,@worldwineguys,Van Ardi 2015 Estate Bottled Rosé (Armenia),Rosé,Van Ardi
Australia,This wine contains some material over 100 year...,Rare,100,350.0,Victoria,Rutherglen,NaN,Joe Czerwinski,@JoeCz,Chambers Rosewood Vineyards NV Rare Muscat (Ru...,Muscat,Chambers Rosewood Vineyards
Austria,Opulent honey and lemon aromas waft from the g...,Zwischen den Seen Nummer 9 Trockenbeerenauslese,98,NaN,Burgenland,NaN,NaN,Roger Voss,@vossroger,Kracher 2008 Zwischen den Seen Nummer 9 Trocke...,Welschriesling,Kracher
Bosnia and Herzegovina,A mix of red and black fruits pervade on the n...,NaN,88,12.0,Mostar,NaN,NaN,Jeff Jenssen,@worldwineguys,Winery Čitluk 2011 Blatina (Mostar),Blatina,Winery Čitluk
Brazil,Stony polished white-fruit aromas are lean and...,Brut Nature,89,36.0,Pinto Bandeira,NaN,NaN,Michael Schachner,@wineschach,Cave Geisse 2013 Brut Nature Sparkling (Pinto ...,Sparkling Blend,Cave Geisse
Bulgaria,This Bulgarian red blend is produced under the...,CR,91,30.0,Thracian Valley,NaN,NaN,Jeff Jenssen,@worldwineguys,Castra Rubra 2010 CR Red (Thracian Valley),Bordeaux-style Red Blend,Castra Rubra
Canada,"Smooth as silk and deeply concentrated, this o...",Riesling Icewine,94,60.0,Ontario,Niagara Peninsula,NaN,Paul Gregutt,@paulgwine,Cave Spring 2013 Riesling Icewine Riesling (Ni...,Riesling,Cave Spring
Chile,"Clos Apalta, depending on your point of view, ...",Clos Apalta,95,90.0,Colchagua Valley,NaN,NaN,Michael Schachner,@wineschach,Lapostolle 2008 Clos Apalta Red (Colchagua Val...,Red Blend,Lapostolle
China,This deep ruby-colored wine features a bouquet...,Noble Dragon,89,18.0,China,NaN,NaN,Mike DeSimone,@worldwineguys,Chateau Changyu-Castel 2009 Noble Dragon Red (...,Cabernet Blend,Chateau Changyu-Castel
Croatia,This 100% Teran from Istria has aromas of blue...,Terra Mare,91,33.0,Istria,NaN,NaN,Jeff Jenssen,@worldwineguys,Trapan 2013 Terra Mare Teran (Istria),Teran,Trapan
Cyprus,This Cretan indigenous white offers aromas of ...,NaN,89,21.0,Lemesos,NaN,NaN,Susan Kostrzewa,@suskostrzewa,Tsiakkas 2014 Xynisteri (Lemesos),Xynisteri,Tsiakkas
Czech Republic,"This red blend has a nose of fresh cherry, red...",Roucí,89,45.0,Moravia,NaN,NaN,Jeff Jenssen,@worldwineguys,Stapleton & Springer 2007 Roucí Red (Moravia),Red Blend,Stapleton & Springer
Egypt,"Ripe pear, apple and tropical fruit in the nos...",Caspar Blanc de Noirs,84,NaN,Egypt,NaN,NaN,Susan Kostrzewa,@suskostrzewa,Sahara Vineyards 2008 Caspar Blanc de Noirs Gr...,Grenache,Sahara Vineyards
England,"Touches of vanilla, cream and lovely hints of ...",Blanc de Blancs,95,70.0,England,NaN,NaN,Anne Krebiehl MW,@AnneInVino,Nyetimber 2010 Blanc de Blancs Chardonnay (Eng...,Chardonnay,Nyetimber
France,This is a fabulous wine from the greatest Cham...,Brut,100,259.0,Champagne,Champagne,NaN,Roger Voss,@vossroger,Krug 2002 Brut (Champagne),Champagne Blend,Krug
Georgia,"From it's musky, perfumed to nose to it's inte...",Qvevri Traditional Kakhuri Dry Unfiltered Ambe...,92,25.0,Kakheti,NaN,NaN,Anna Lee C. Iijima,NaN,Alaverdi Monastery Cellar 2010 Qvevri Traditio...,Rkatsiteli,Alaverdi Monastery Cellar
Germany,"With layers upon layers of spicy saffron, peac...",Kiedrich Gräfenberg Trockenbeerenauslese,98,775.0,Rheingau,NaN,NaN,Anna Lee C. Iijima,NaN,Robert Weil 2015 Kiedrich Gräfenberg Trockenbe...,Riesling,Robert Weil
Greece,"Vanilla, citrus and white flowers on the nose ...",NaN,93,16.0,Mantinia,NaN,NaN,Susan Kostrzewa,@suskostrzewa,Dionysos 2014 Moschofilero (Mantinia),Moschofilero,Dionysos
Hungary,"This ethereal Tokaji Aszú is golden in color, ...",6 Puttonyos Aszú Gold Label,97,80.0,Tokaji,NaN,NaN,Jeff Jenssen,@worldwineguys,Royal Tokaji 2013 6 Puttonyos Aszú Gold Label ...,White Blend,Royal Tokaji
India,"The nose carries notes of cassis, blackberry a...",Dindori Reserve,93,20.0,Nashik,NaN,NaN,Mike DeSimone,@worldwineguys,Sula 2011 Dindori Reserve Shiraz (Nashik),Shiraz,Sula
Israel,"Inky red-violet to the eye, this wine has an i...",Reserve David Vineyard,94,25.0,Galilee,NaN,NaN,Mike DeSimone,@worldwineguys,Recanati 2011 Reserve David Vineyard Cabernet ...,Cabernet Sauvignon,Recanati
Italy,Thick as molasses and dark as caramelized brow...,Occhio di Pernice,100,210.0,Tuscany,Vin Santo di Montepulciano,NaN,NaN,NaN,Avignonesi 1995 Occhio di Pernice (Vin Santo ...,Prugnolo Gentile,Avignonesi
Lebanon,"Violet red to the eye, this wine is a blend of...",El,91,75.0,Lebanon,NaN,NaN,Mike DeSimone,@worldwineguys,Ixsir 2011 El Red (Lebanon),Red Blend,Ixsir
Luxembourg,"Made from Auxerrois, this delightful white has...",Bech-Kleinmacher Naumberg Grand Premier Cru,90,22.0,Moselle Luxembourgeoise,NaN,NaN,Jeff Jenssen,@worldwineguys,Domaines Vinsmoselle 2014 Bech-Kleinmacher Nau...,Auxerrois,Domaines Vinsmoselle
Macedonia,This 100% Vranec presents the nose with black ...,Veritas,89,20.0,Tikves,NaN,NaN,Jeff Jenssen,@worldwineguys,Stobi 2011 Veritas Vranec (Tikves),Vranec,Stobi
Mexico,"A world-class wine regardless of origin, this ...",Amado IV,92,54.0,Valle de Guadalupe,NaN,NaN,Michael Schachner,@wineschach,Viñas de Garza 2007 Amado IV Red (Valle de Gua...,Red Blend,Viñas de Garza
Moldova,"Bright ruby in the glass, this wine is a blend...",Freedom Blend,91,25.0,Moldova,NaN,NaN,Jeff Jenssen,@worldwineguys,Purcari 2013 Freedom Blend Red (Moldova),Red Blend,Purcari
Morocco,"Aromas of black cherry, espresso bean and whit...",Médaillon,93,18.0,Zenata,NaN,NaN,Mike DeSimone,@worldwineguys,Ouled Thaleb 2012 Médaillon Red (Zenata),Red Blend,Ouled Thaleb
New Zealand,"This full-bodied, richly tannic wine delivers....",Homage,95,100.0,Hawke's Bay,NaN,NaN,Joe Czerwinski,@JoeCz,Trinity Hill 2013 Homage Syrah (Hawke's Bay),Syrah,Trinity Hill
Peru,"Earthy, warm and ripe on the bouquet, with a b...",Sinfonía Tannat-Malbec-Petit Verdot,86,20.0,Ica,NaN,NaN,Michael Schachner,@wineschach,Tacama 2008 Sinfonía Tannat-Malbec-Petit Verdo...,Red Blend,Tacama
Portugal,This is the latest release of what has long be...,Barca-Velha,100,450.0,Douro,NaN,NaN,Roger Voss,@vossroger,Casa Ferreirinha 2008 Barca-Velha Red (Douro),Portuguese Red,Casa Ferreirinha
Romania,This late harvest Sauvignon Blanc is honey gol...,Conocul Ambrozy,92,28.0,Recas,NaN,NaN,Jeff Jenssen,@worldwineguys,Cramele Recas 2013 Conocul Ambrozy Sauvignon B...,Sauvignon Blanc,Cramele Recas
Serbia,A blend of 60% Prokupac and 40% Cabernet Sauvi...,Sub Rosa,89,40.0,Župa,NaN,NaN,Jeff Jenssen,@worldwineguys,Budimir 2009 Sub Rosa Red (Župa),Red Blend,Budimir
Slovakia,"Delicious scents of honey, apples and petrol l...",NaN,87,16.0,Muzla,NaN,NaN,Anna Lee C. Iijima,NaN,Château Bela 2008 Riesling (Muzla),Riesling,Château Bela
Slovenia,"This has ebullient aromas of cherry blossom, g...",Veliko,92,50.0,Brda,NaN,NaN,Anna Lee C. Iijima,NaN,Movia 2007 Veliko White (Brda),White Blend,Movia
South Africa,Only 95 cases were made of this Bordeaux-style...,Book 17 XVII,95,330.0,Stellenbosch,NaN,NaN,Lauren Buzzeo,@laurbuzz,De Toren 2014 Book 17 XVII Red (Stellenbosch),Bordeaux-style Red Blend,De Toren
Spain,Luscious prune and blackberry aromas come with...,Clon de la Familia,98,450.0,Northern Spain,Ribera del Duero,NaN,Michael Schachner,@wineschach,Emilio Moro 2009 Clon de la Familia (Ribera d...,Tinto Fino,Emilio Moro
Switzerland,"A Swiss blend of Pinot Noir and Gamay, this de...",Dôle des Monts,90,30.0,Valais,NaN,NaN,Jeff Jenssen,@worldwineguys,Robert Gilliard 2012 Dôle des Monts Pinot Noir...,Pinot Noir-Gamay,Robert Gilliard
Turkey,"Aromas of black cherry, brambly berry, violet ...",Pendore,92,38.0,Aegean,NaN,NaN,Mike DeSimone,@worldwineguys,Kavaklidere 2010 Pendore Syrah (Aegean),Syrah,Kavaklidere
US,Tasted in a flight of great and famous Napa wi...,NaN,100,200.0,California,Napa Valley,Napa,NaN,NaN,Cardinale 2006 Cabernet Sauvignon (Napa Valley),Cabernet Sauvignon,Cardinale
Ukraine,"This has aromas of white flowers, especially h...",Reserve,88,9.0,Ukraine,NaN,NaN,Jeff Jenssen,@worldwineguys,Koblevo NV Reserve Riesling (Ukraine),Riesling,Koblevo
Uruguay,Dried blackberry aromas include welcome notes ...,B6 Parcela Única,92,43.0,Canelones,NaN,NaN,Michael Schachner,@wineschach,Bouza 2015 B6 Parcela Única Tannat (Canelones),Tannat,Bouza

Currently the grouped coulmns of country are also passed to the apply function that's why we have added a drop method at the end to remove the duplicate country column.

We can also group by multiple columns. If we wanted to find the best wine from a province, country:

In [42]:
df.groupby(["country", "province"]).apply(lambda df: df.loc[df.points.idxmax()].drop(labels=["country", "province"]))

/var/folders/tv/x2kj4s9n5cq6jvwx5w_mn40c0000gn/T/ipykernel_3487/152581387.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df.groupby(["country", "province"]).apply(lambda df: df.loc[df.points.idxmax()].drop(labels=["country", "province"]))

                                                                  description  \
country   province
Argentina Mendoza Province  If the color doesn't tell the full story, the ...
          Other             Take note, this could be the best wine Colomé ...
Armenia   Armenia           Deep salmon in color, this wine offers a bouqu...
Australia Australia Other   Writes the book on how to make a wine filled w...
          New South Wales   De Bortoli's Noble One is as good as ever in 2...
...                                                                       ...
Uruguay   Juanico           This mature Bordeaux-style blend is earthy on ...
          Montevideo        A rich, heady bouquet offers aromas of blackbe...
          Progreso          Rusty in color but deep and complex in nature,...
          San Jose          Baked, sweet, heavy aromas turn earthy with ti...
          Uruguay           Cherry and berry aromas are ripe, healthy and ...

                                                        designation  points  \
country   province
Argentina Mendoza Province                         Nicasia Vineyard      97
          Other                                             Reserva      95
Armenia   Armenia                                    Estate Bottled      88
Australia Australia Other                             Sarah's Blend      93
          New South Wales                        Noble One Bortytis      94
...                                                             ...     ...
Uruguay   Juanico                  Preludio Barrel Select Lote N 77      90
          Montevideo        Monte Vide Eu Tannat-Merlot-Tempranillo      91
          Progreso                   Etxe Oneko Fortified Sweet Red      90
          San Jose                         El Preciado Gran Reserva      87
          Uruguay                         Blend 002 Limited Edition      91

                            price                 region_1 region_2  \
country   province
Argentina Mendoza Province  120.0                  Mendoza      NaN
          Other              90.0                    Salta      NaN
Armenia   Armenia            15.0                      NaN      NaN
Australia Australia Other    15.0  South Eastern Australia      NaN
          New South Wales    32.0          New South Wales      NaN
...                           ...                      ...      ...
Uruguay   Juanico            45.0                      NaN      NaN
          Montevideo         60.0                      NaN      NaN
          Progreso           46.0                      NaN      NaN
          San Jose           50.0                      NaN      NaN
          Uruguay            22.0                      NaN      NaN

                                  taster_name taster_twitter_handle  \
country   province
Argentina Mendoza Province  Michael Schachner           @wineschach
          Other             Michael Schachner           @wineschach
Armenia   Armenia               Mike DeSimone        @worldwineguys
Australia Australia Other                 NaN                   NaN
          New South Wales      Joe Czerwinski                @JoeCz
...                                       ...                   ...
Uruguay   Juanico           Michael Schachner           @wineschach
          Montevideo        Michael Schachner           @wineschach
          Progreso          Michael Schachner           @wineschach
          San Jose          Michael Schachner           @wineschach
          Uruguay           Michael Schachner           @wineschach

                                                                        title  \
country   province
Argentina Mendoza Province  Bodega Catena Zapata 2006 Nicasia Vineyard Mal...
          Other                            Colomé 2010 Reserva Malbec (Salta)
Armenia   Armenia                 Van Ardi 2015 Estate Bottled Rosé (Armenia)
Australia Australia Other   Marquis Philips 2000 Sarah's Blend Red (South ...
          New South Wales   De Bortoli 2007 Noble One Bortytis Semillon (N...
...                                                                       ...
Uruguay   Juanico           Familia Deicas 2004 Preludio Barrel Select Lot...
          Montevideo        Bouza 2015 Monte Vide Eu Tannat-Merlot-Tempran...
          Progreso          Pisano 2007 Etxe Oneko Fortified Sweet Red Tan...
          San Jose          Castillo Viejo 2005 El Preciado Gran Reserva R...
          Uruguay           Narbona NV Blend 002 Limited Edition Tannat-Ca...

                                          variety                winery
country   province
Argentina Mendoza Province                 Malbec  Bodega Catena Zapata
          Other                            Malbec                Colomé
Armenia   Armenia                            Rosé              Van Ardi
Australia Australia Other               Red Blend       Marquis Philips
          New South Wales                Sémillon            De Bortoli
...                                           ...                   ...
Uruguay   Juanico                       Red Blend        Familia Deicas
          Montevideo                    Red Blend                 Bouza
          Progreso                         Tannat                Pisano
          San Jose                      Red Blend        Castillo Viejo
          Uruguay           Tannat-Cabernet Franc               Narbona

[425 rows x 11 columns]

agg() method let's you pass in multiple functions to your DataFrame:

In [43]:
df.groupby("country").price.agg([len,"min","max","mean"])

                          len   min     max       mean
country
Argentina                3800   4.0   230.0  24.510117
Armenia                     2  14.0    15.0  14.500000
Australia                2329   5.0   850.0  35.437663
Austria                  3345   7.0  1100.0  30.762772
Bosnia and Herzegovina      2  12.0    13.0  12.500000
Brazil                     52  10.0    60.0  23.765957
Bulgaria                  141   8.0   100.0  14.645390
Canada                    257  12.0   120.0  35.712598
Chile                    4472   5.0   400.0  20.786458
China                       1  18.0    18.0  18.000000
Croatia                    73  12.0    65.0  25.450704
Cyprus                     11  11.0    21.0  16.272727
Czech Republic             12  15.0    45.0  24.250000
Egypt                       1   NaN     NaN        NaN
England                    74  25.0    95.0  51.681159
France                  22093   5.0  3300.0  41.139120
Georgia                    86   9.0    40.0  19.321429
Germany                  2165   5.0   775.0  42.257547
Greece                    466   8.0    79.0  22.364425
Hungary                   146  10.0   764.0  40.648276
India                       9  10.0    20.0  13.333333
Israel                    505   8.0   150.0  31.768916
Italy                   19540   5.0   900.0  39.663770
Lebanon                    35  13.0    75.0  30.685714
Luxembourg                  6  16.0    30.0  23.333333
Macedonia                  12  15.0    20.0  15.583333
Mexico                     70   8.0   108.0  26.785714
Moldova                    59   8.0    42.0  16.745763
Morocco                    28  14.0    40.0  19.500000
New Zealand              1419   7.0   130.0  26.931785
Peru                       16  10.0    68.0  18.062500
Portugal                 5691   5.0  1000.0  26.218256
Romania                   120   4.0   320.0  15.241667
Serbia                     12  15.0    42.0  24.500000
Slovakia                    1  16.0    16.0  16.000000
Slovenia                   87   7.0    90.0  24.812500
South Africa             1401   5.0   330.0  24.668987
Spain                    6645   4.0   770.0  28.215275
Switzerland                 7  21.0   160.0  85.285714
Turkey                     90  14.0   120.0  24.633333
US                      54504   4.0  2013.0  36.573464
Ukraine                    14   6.0    13.0   9.214286
Uruguay                   109  10.0   130.0  26.403670

As you may have noticed the functions, min, max and mean are passed as strings where as len is not. This is due to a subtle difference. Pandas uses SeriesGroupBy.min if we specify the min as a string, but uses the base Python method if given as a function. Since the SeriesGroupBy.len does not exist but the Python alternative does we use that one. For the others we use the pandas' own methods, which are faster.

## MultiIndex

So far we have been working with single index DataFrames. However pandas allows a special MultiIndex future where we can have multiple number of values for a index:

In [44]:
best_wine_of_each_province = df.groupby(["country","province"]).points.max()
best_wine_of_each_province

country    province
Argentina  Mendoza Province    97
           Other               95
Armenia    Armenia             88
Australia  Australia Other     93
           New South Wales     94
                               ..
Uruguay    Juanico             90
           Montevideo          91
           Progreso            90
           San Jose            87
           Uruguay             91
Name: points, Length: 425, dtype: int64

As you can see both country and province is an index now, and you need both to access a given row with loc method, but iloc is still only accepting single values:

In [45]:
print(best_wine_of_each_province.loc["Argentina",:])

province
Mendoza Province    97
Other               95
Name: points, dtype: int64

In [46]:
print(best_wine_of_each_province.loc["Argentina","Mendoza Province"])

97

In [47]:
best_wine_of_each_province.iloc[0]

np.int64(97)

To turn a multi-indexed DataFrame into a single index we use the reset_index() method, which reverts the DataFrame into an integer index:

In [48]:
best_wine_of_each_province = best_wine_of_each_province.reset_index()
best_wine_of_each_province

       country          province  points
0    Argentina  Mendoza Province      97
1    Argentina             Other      95
2      Armenia           Armenia      88
3    Australia   Australia Other      93
4    Australia   New South Wales      94
..         ...               ...     ...
420    Uruguay           Juanico      90
421    Uruguay        Montevideo      91
422    Uruguay          Progreso      90
423    Uruguay          San Jose      87
424    Uruguay           Uruguay      91

[425 rows x 3 columns]

As you can see, the DataFrame is sorted based on the previous index of country > province. If we want to sort it based on a specific column like the points in our example we can use the sort_values("column") method:

In [49]:
best_wine_of_each_province.sort_values(by="points")

         country                   province  points
291     Portugal                 Table wine      81
103      Croatia  Middle and South Dalmatia      82
40        Brazil           Serra do Sudeste      82
380  Switzerland                     Ticino      83
399           US                   Kentucky      83
..           ...                        ...     ...
120       France                  Champagne     100
392           US                 California     100
273     Portugal                      Douro     100
118       France                   Bordeaux     100
227        Italy                    Tuscany     100

[425 rows x 3 columns]

You can add the ascending = False argument to make it descending order:

In [50]:
best_wine_of_each_province.sort_values(by="points", ascending=False)

         country                   province  points
392           US                 California     100
118       France                   Bordeaux     100
120       France                  Champagne     100
7      Australia                   Victoria     100
415           US                 Washington     100
..           ...                        ...     ...
399           US                   Kentucky      83
380  Switzerland                     Ticino      83
103      Croatia  Middle and South Dalmatia      82
40        Brazil           Serra do Sudeste      82
291     Portugal                 Table wine      81

[425 rows x 3 columns]

If we want to revert back to sorting by the index, we can call the sort_index() method:

In [51]:
best_wine_of_each_province.sort_index()

       country          province  points
0    Argentina  Mendoza Province      97
1    Argentina             Other      95
2      Armenia           Armenia      88
3    Australia   Australia Other      93
4    Australia   New South Wales      94
..         ...               ...     ...
420    Uruguay           Juanico      90
421    Uruguay        Montevideo      91
422    Uruguay          Progreso      90
423    Uruguay          San Jose      87
424    Uruguay           Uruguay      91

[425 rows x 3 columns]

However if we wanna change the DataFrame so that it is sorted by points and indexed by those values, we can use the reset_index with the argument drop=True. This drops the unnecessary index column that would be created by using the reset_index()

In [52]:
best_wine_of_each_province = best_wine_of_each_province.sort_values(by="points", ascending=False)
best_wine_of_each_province.reset_index()

     index      country                   province  points
0      392           US                 California     100
1      118       France                   Bordeaux     100
2      120       France                  Champagne     100
3        7    Australia                   Victoria     100
4      415           US                 Washington     100
..     ...          ...                        ...     ...
420    399           US                   Kentucky      83
421    380  Switzerland                     Ticino      83
422    103      Croatia  Middle and South Dalmatia      82
423     40       Brazil           Serra do Sudeste      82
424    291     Portugal                 Table wine      81

[425 rows x 4 columns]

In [53]:
best_wine_of_each_province.reset_index(drop=True)

         country                   province  points
0             US                 California     100
1         France                   Bordeaux     100
2         France                  Champagne     100
3      Australia                   Victoria     100
4             US                 Washington     100
..           ...                        ...     ...
420           US                   Kentucky      83
421  Switzerland                     Ticino      83
422      Croatia  Middle and South Dalmatia      82
423       Brazil           Serra do Sudeste      82
424     Portugal                 Table wine      81

[425 rows x 3 columns]

Also you can sort multiple columns by using sort_values. The first argument takes priority then the next and so on.

In [57]:
best_wine_of_each_province.sort_values(["country", "points"], ascending=[True,False])

       country          province  points
0    Argentina  Mendoza Province      97
1    Argentina             Other      95
2      Armenia           Armenia      88
7    Australia          Victoria     100
5    Australia   South Australia      99
..         ...               ...     ...
424    Uruguay           Uruguay      91
422    Uruguay          Progreso      90
420    Uruguay           Juanico      90
418    Uruguay         Atlantida      88
423    Uruguay          San Jose      87

[425 rows x 3 columns]

First sorted the rows by country and in each country sorted them in descending order by the points value.

In [77]:
best_rating_per_price = df.groupby(["country","variety"]).size().sort_values(ascending=False)
best_rating_per_price

country  variety
US       Pinot Noir                  9885
         Cabernet Sauvignon          7315
         Chardonnay                  6801
France   Bordeaux-style Red Blend    4725
Italy    Red Blend                   3624
                                     ...
Mexico   Cinsault                       1
         Grenache                       1
         Merlot                         1
         Rosado                         1
Uruguay  White Blend                    1
Length: 1612, dtype: int64

## Data Types and Missing Values

We can use the dtype property to get a columns data type:

In [78]:
df.points.dtype

dtype('int64')

In [80]:
df.price.dtype

dtype('float64')

You can use the dytpes to get all the columns data types:

In [81]:
df.dtypes

country                   object
description               object
designation               object
points                     int64
price                    float64
province                  object
region_1                  object
region_2                  object
taster_name               object
taster_twitter_handle     object
title                     object
variety                   object
winery                    object
dtype: object

As seen above, the columns with strings do not get a string dtype but instead get the object data type

In [82]:
df.country.dtype

dtype('O')

We can convert data types when it makes sense with astype():

In [85]:
df.points.astype("float64")

0         87.0
1         87.0
2         87.0
3         87.0
4         87.0
          ...
129966    90.0
129967    90.0
129968    90.0
129969    90.0
129970    90.0
Name: points, Length: 129971, dtype: float64

There are other data types like catagorical or timeseries. We will see them later on

### Missing Data
Entries with missing data get the NaN (Not a Number) value. Which is a float64 type by default due to technical reasons.

There are some methods to find the NaN values in the data: pd.isnull(), or its companion pd.notnull():

In [95]:
df[pd.isnull(df.country)]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
913,NaN,"Amber in color, this wine has aromas of peach ...",Asureti Valley,87,30.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Gotsa Family Wines 2014 Asureti Valley Chinuri,Chinuri,Gotsa Family Wines
3131,NaN,"Soft, fruity and juicy, this is a pleasant, si...",Partager,83,NaN,NaN,NaN,NaN,Roger Voss,@vossroger,Barton & Guestier NV Partager Red,Red Blend,Barton & Guestier
4243,NaN,"Violet-red in color, this semisweet wine has a...",Red Naturally Semi-Sweet,88,18.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Kakhetia Traditional Winemaking 2012 Red Natur...,Ojaleshi,Kakhetia Traditional Winemaking
9509,NaN,This mouthwatering blend starts with a nose of...,Theopetra Malagouzia-Assyrtiko,92,28.0,NaN,NaN,NaN,Susan Kostrzewa,@suskostrzewa,Tsililis 2015 Theopetra Malagouzia-Assyrtiko W...,White Blend,Tsililis
9750,NaN,This orange-style wine has a cloudy yellow-gol...,Orange Nikolaevo Vineyard,89,28.0,NaN,NaN,NaN,Jeff Jenssen,@worldwineguys,Ross-idi 2015 Orange Nikolaevo Vineyard Chardo...,Chardonnay,Ross-idi
...,...,...,...,...,...,...,...,...,...,...,...,...,...
124176,NaN,This Swiss red blend is composed of four varie...,Les Romaines,90,30.0,NaN,NaN,NaN,Jeff Jenssen,@worldwineguys,Les Frères Dutruy 2014 Les Romaines Red,Red Blend,Les Frères Dutruy
129407,NaN,Dry spicy aromas of dusty plum and tomato add ...,Reserve,89,22.0,NaN,NaN,NaN,Michael Schachner,@wineschach,El Capricho 2015 Reserve Cabernet Sauvignon,Cabernet Sauvignon,El Capricho
129408,NaN,El Capricho is one of Uruguay's more consisten...,Reserve,89,22.0,NaN,NaN,NaN,Michael Schachner,@wineschach,El Capricho 2015 Reserve Tempranillo,Tempranillo,El Capricho
129590,NaN,"A blend of 60% Syrah, 30% Cabernet Sauvignon a...",Shah,90,30.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Büyülübağ 2012 Shah Red,Red Blend,Büyülübağ
129900,NaN,This wine offers a delightful bouquet of black...,NaN,91,32.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Psagot 2014 Merlot,Merlot,Psagot

To count how many values are missing in a column we could use:

In [134]:
df.price.isnull().sum()

np.int64(8996)

Replacing missing values in our data is a common operation. We can use the fillna() method for this, with different strategies:

We can simply replace NaN with "Unknown":

In [106]:
filled_df = df.country.fillna("Unknown")
filled_df

0            Italy
1         Portugal
2               US
3               US
4               US
            ...
129966     Germany
129967          US
129968      France
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [104]:
filled_df.isnull().unique()

array([False])

Note that fillna returns a Series object

We can fill in the missing values in the region_1 and then count them:

In [152]:
reviews_per_region = df.region_1.fillna("Unknown").value_counts()
reviews_per_region

region_1
Unknown                    21247
Napa Valley                 4480
Columbia Valley (WA)        4124
Russian River Valley        3091
California                  2629
                           ...
Lamezia                        1
Trentino Superiore             1
Grave del Friuli               1
Vin Santo di Carmignano        1
Paestum                        1
Name: count, Length: 1230, dtype: int64

Another useful method is the replace(). Let's say the reviewer Kerin O'Keefe has changed her Twitter handle from @kerinokeefe to @kerino, we can reflet this using replace():

In [108]:
replaced_df = df.taster_twitter_handle.replace("@kerinokeefe", "@kerino")
replaced_df

0             @kerino
1          @vossroger
2         @paulgwine
3                 NaN
4         @paulgwine
             ...
129966            NaN
129967    @paulgwine
129968     @vossroger
129969     @vossroger
129970     @vossroger
Name: taster_twitter_handle, Length: 129971, dtype: object

## Renaming and Combining

### Renaming

We can rename the column names we are not satisfied with:

In [160]:
df.rename(columns={"points":"score"}).head()

,country,description,designation,score,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

Note that rename took in a dictionary. We could also use it to rename indexes but it is not super useful, the set_index() method has more uses:

In [159]:
df.rename(index={0:"FirstEntry",1:"SecondEntry"}).head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
FirstEntry,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
SecondEntry,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

Both the row index and the column index can have their own name attribute. The complimentary rename_axis() method may be used to change these names. For example:

In [163]:
df.rename_axis("wines",axis="rows").rename_axis("labels",axis="columns").head()

labels,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
wines,,,,,,,,,,,,,
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

### Combining

There are multiple methods to combine DataFrames or Series with each other. In increasing complexity they are:

- concat()
- join()
- merge()

Given a list of elements, concant function will smush those elements together along an axis:

In [170]:
df_points = df.points
df_title = df.title
pd.concat([df_points,df_title], axis=1)

        points                                              title
0           87                  Nicosia 2013 Vulkà Bianco  (Etna)
1           87      Quinta dos Avidagos 2011 Avidagos Red (Douro)
2           87      Rainstorm 2013 Pinot Gris (Willamette Valley)
3           87  St. Julian 2013 Reserve Late Harvest Riesling ...
4           87  Sweet Cheeks 2012 Vintner's Reserve Wild Child...
...        ...                                                ...
129966      90  Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...
129967      90                  Citation 2004 Pinot Noir (Oregon)
129968      90  Domaine Gresser 2013 Kritt Gewurztraminer (Als...
129969      90      Domaine Marcel Deiss 2012 Pinot Gris (Alsace)
129970      90  Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...

[129971 rows x 2 columns]

It is useful when you have your data in two different DataFrame/Series but they are formatted in a similar way.

Join method let's you combine two DataFrames (but not series) that have the same indexes, you can use the how attribute to define how the joining will take place:

In [176]:
df_left = pd.DataFrame({
    'employee_id': [1, 2, 3, 4],
    'name': ['Alice', 'Bob', 'Charlie', 'David']
})

df_right = pd.DataFrame({
    'employee_id': [3, 4, 5],
    'department': ['HR', 'Engineering', 'Marketing']
})

# Set index to use join
df_left_indexed = df_left.set_index('employee_id')
df_right_indexed = df_right.set_index('employee_id')

df_left_indexed.join(df_right_indexed, how='left')

                name   department
employee_id
1              Alice          NaN
2                Bob          NaN
3            Charlie           HR
4              David  Engineering

In [177]:
df_left_indexed.join(df_right_indexed, how='right')

                name   department
employee_id
3            Charlie           HR
4              David  Engineering
5                NaN    Marketing

In [178]:
df_left_indexed.join(df_right_indexed, how='inner')

                name   department
employee_id
3            Charlie           HR
4              David  Engineering

In [179]:
df_left_indexed.join(df_right_indexed, how='outer')

                name   department
employee_id
1              Alice          NaN
2                Bob          NaN
3            Charlie           HR
4              David  Engineering
5                NaN    Marketing

We could use the merge to do the same:

In [181]:
pd.merge(df_left, df_right, on='employee_id', how='outer')

   employee_id     name   department
0            1    Alice          NaN
1            2      Bob          NaN
2            3  Charlie           HR
3            4    David  Engineering
4            5      NaN    Marketing

If you had overlapping column names then you need to specify the lsuffix and rsuffix to not get an Error:

In [183]:
df_left = pd.DataFrame({
    'employee_id': [1, 2],
    'name': ['Alice', 'Bob'],
    'age': [25, 30]
})

# Second DataFrame
df_right = pd.DataFrame({
    'employee_id': [1, 2],
    'name': ['Alice Smith', 'Bob Brown'],  # Different name field
    'age': [26, 31]  # Slightly different ages
})
df_left_indexed = df_left.set_index('employee_id')
df_right_indexed = df_right.set_index('employee_id')

df_left_indexed.join(df_right_indexed, how='outer',lsuffix="_left" ,rsuffix="_right")

            name_left  age_left   name_right  age_right
employee_id
1               Alice        25  Alice Smith         26
2                 Bob        30    Bob Brown         31